.circle {
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    border-radius: 50%;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 1rem solid transparent;
	border-right: 2rem solid rgb(135, 206, 235);
	border-bottom: 1rem solid transparent;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 1rem solid transparent;
	border-left: 2rem solid rgb(139, 69, 19);
	border-bottom: 1rem solid transparent;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 2rem solid red;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 2rem solid rgb(0, 255, 255);
}

.opponentDiscard, .playerDiscard{
    height: 2rem;
    width: 2rem;
}

.rectangle {
    height: 1.8rem;
    width: 1.2rem;
    background-color: black;
}

br {
    display:block;
    content: "";
    margin-top: 0.5rem;
}

body{
    padding-top: 1rem;
}